html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--color-primary1);
  color: var(--color-white-primary1);
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary1: black;
  --color-primary2: #0c0c0c;
  --color-primary3: rgb(200, 200, 200);
  --color-primary4: rgb(180, 180, 180);
  --color-secondary1: #222;
  --color-secondary2: #333;
  --color-secondary3: #444;
  --color-secondary4: #555;
  --outline-color1: #333;
  --outline-color2: #444;
  --outline-color3: #555;
  --outline-color-white: rgb(180, 180, 180);
  --color-white-primary1: #ddd;
  --color-white-primary2: #f6f6f6;
  --hover-color-transparent: rgba(255, 255, 255, 0.15);
  --hover-color-transparent-white: rgba(165, 165, 165, 0.9);
  --hover-color-gray: #888;
  --color-highlight1: rgb(255, 70, 70);
  --color-highlight1-dimmed: rgba(255, 70, 70, 0.8);
  --color-highlight2: rgba(255, 255, 255, 0.15);
  --color-negative: #c34646;
  --color-negative-dimmed: rgba(195, 70, 70, 0.2);
  --color-positive: #aaffaa;
  --color-positive-dimmed: rgba(170, 255, 170, 0.2);


  *, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
  }

  ::selection {
    background-color: var(--color-highlight1);
    color: var(--color-primary1);
  }

  *:focus-visible:not(.primary-input) {
    outline: 1px solid var(--color-highlight1);
  }

  *:disabled {
    opacity: 0.42;
    outline: none;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }

  p {
    hyphens: auto;
  }

  h1, h2, h3 {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
    user-select: none;
  }

  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="checkbox"] {
    accent-color: var(--color-highlight1);
    transition: transform 200ms;
  }
  input[type="checkbox"]:not(:disabled):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  textarea, input, .tiptap.ProseMirror {
    caret-color: var(--color-highlight1);
  }

  * img {
    user-select: none;
    pointer-events: none;
    filter: brightness(0) invert(0.9);
  }
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: transparent;
}
:hover::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
  margin: 4px 0;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary4);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color-gray);
  cursor: pointer;
}

.span-icon {
  flex-shrink: 0;
  background-color: var(--color-white-primary1);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.img-extra-small {
  height: 0.75rem;
  width: 0.75rem;
}

.img-small {
  height: 1rem;
  width: 1rem;
}

.img-small-medium {
  height: 1.25rem;
  width: 1.25rem;
}

.img-medium {
  height: 1.5rem;
  width: 1.5rem;
}

.img-large {
  height: 2rem;
  width: 2rem;
}

.button-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-secondary2);
  color: var(--color-white-primary1);
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  font: inherit;
  font-size: 14px;
  transition: transform 0.2s;
  user-select: none;

  &:not(:disabled, .transparent):hover {
    cursor: pointer;
    background-color: var(--color-secondary3);
  }

  &.dark {
    background-color: var(--color-secondary1);

    &:not(:disabled, .transparent):hover {
      background-color: var(--color-secondary2);
    }
  }

  &.light {
    background-color: var(--color-secondary3);

    &:not(:disabled, .transparent):hover {
      background-color: var(--color-secondary4);
    }
  }

  &.white-bg {
    background-color: var(--color-white-primary1);
    color: black;

    &:not(:disabled, .transparent):hover {
      background-color: var(--hover-color-transparent-white);
    }

    &:disabled {
      opacity: 0.25;
    }

    span {
      background-color: black;
    }
  }

  &.static {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
  }

  &.form:not(.transparent) {
    flex-shrink: 0;
    align-self: flex-end;
    justify-content: space-between;
    height: 42px;
    gap: 40px;
    margin-top: auto;
    text-align: left;
    font-weight: bold;

    &:not(:disabled):hover {
      background-color: var(--color-highlight1);
    }

    span {
      width: 18px;
      height: 18px;
      transform: rotateZ(-90deg);
      transition: transform 0.2s;

      &.moveRight {
        transform: translateX(4px) rotateZ(-90deg);
      }
    }
  }

  &.transparent {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    &:not(:disabled):hover {
      cursor: pointer;
    }

    &.highlight {
      padding: 0.5rem;
      border-radius: 50%;

      &:not(:disabled):hover {
        background-color: var(--hover-color-transparent);
      }
    }

    &.form {
      height: unset;
      width: unset;
      border-radius: 50%;

      &:hover {
        background-color: var(--hover-color-transparent-white);
      }

      span {
        height: 30px;
        width: 30px;
        margin: 6px;
        background-color: var(--color-primary1);
        pointer-events: none;
      }
    }

    &.form-text {
      color: var(--color-highlight1);
      font-weight: bold;
    }

    &.outline {
      outline: 1px solid var(--outline-color1);
    }

    &.default-corners {
      border-radius: 0.25rem;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.primary-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: 2px solid var(--outline-color-white);
  background-color: transparent;
  color: black;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: clamp(0.75rem, 0.9cqw, 1rem);
  color: var(--color-white-primary1);
}
.primary-input::-ms-reveal {
  display: none;
}

.primary-input:focus {
  outline-color: var(--color-highlight1);
}

.transparent-input {
  width: 100%;
  height: 100%;
  padding: 0 4px;
  border: none;
  background-color: transparent;
  color: var(--color-white-primary1);
}

.modal-default {
  align-items: flex-start;
  padding: 0.75rem;
  gap: 0.75rem;
  outline: 1px solid var(--outline-color1);
  border: none;
  border-radius: 1rem;
  background-color: var(--color-secondary1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);

  .button-primary:not(.static) {
    justify-content: flex-start;
    width: 100%;
    gap: 0.75rem;
    text-align: left;
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: var(--hover-color-transparent);
    }
  }
}

.primary-toolbar {
  flex-shrink: 0;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  gap: 12px;
  padding: 8px;
  border-bottom: 1px solid var(--outline-color1);
  user-select: none;
}

.primary-toolbar button {
  flex-shrink: 0;
  height: 32px;
}

.element-wrapper-for-title {
  height: 39px;
  justify-content: space-between;
  gap: 6px;
  user-select: none;

  > * {
    height: 100%;
  }

  select:not(:disabled):hover {
    cursor: pointer;
  }
}

.element-paragraph-title {
  display: flex;
  align-items: center;
  margin: 0;
  max-height: 8px;
  font-size: clamp(0.55rem, 0.75cqw, 0.7rem);
  line-height: unset;
  user-select: none;
  font-weight: normal;
  color: var(--color-white-primary1);
}

.hovered-over {
  opacity: 0.5;
  outline: 1px solid var(--color-highlight1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
}

.drag-handle {
  position: absolute;
  z-index: 10;
  cursor: grab;
  width: 24px;
  height: 24px;
  padding: 0.25rem;
  background: transparent;
  outline: none;
  border: none;
}
.drag-handle:disabled {
  cursor: not-allowed;
}
.drag-handle:not(:disabled):active {
  cursor: grabbing;
}

.timer-container .drag-handle {
  top: 8px;
  right: 8px;
}

.note-container .drag-handle {
  top: 20px;
  right: 8px;
}

.notes-tab-outer-container .drag-handle {
  right: 4px;
  height: 23px;
}

.resize-gutter-default {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: col-resize;
  z-index: 1;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 9px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--color-secondary2);
    transition: background-color 300ms ease;
  }

  &.highlight::before {
    background-color: var(--color-highlight1-dimmed);
  }
}

/*
***************************
MAIN SETTINGS
***************************
*/

.main-settings-page-container {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 3.75rem;
}

/* 
***************************
AUTHENTICATION VIEW & FORMS
***************************
*/

.form-outer-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  background-color: var(--color-primary3);
  border-radius: 8px;
  padding: 40px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.form-bg {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 24px;
  border-radius: 8px;
  padding: 32px;
}

.form-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  gap: 10px;
  padding-top: 6px;
}

.form-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  padding: 0;
}

.form-input-spacer {
  min-width: 42px;
  width: 42px;
  min-height: 42px;
  height: 42px;
  pointer-events: none;
}

.form-p {
  font-weight: 600;
  user-select: none;
  margin: 0;
}

.form-input-container {

  .form-button {
    min-width: 42px;
    width: 42px;
    min-height: 42px;
    height: 42px;
    padding: 6px;
    border-radius: 50%;

    &:hover {
      background-color: var(--hover-color-transparent-white);
    }

    span {
      background-color: var(--color-primary1);
    }
  }

  .primary-input {
    font-size: unset;
  }
}

/* 
***************************
TRANSACTIONS TABLE
***************************
*/

.table-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;

  .table-header {
    justify-content: space-between;
    padding: 0 10px;
    gap: 6px;
    border-radius: 0;
    text-align: left;
    font-weight: bold;
    user-select: none;
    border-left: 1px solid var(--color-secondary2);
    color: var(--color-white-primary1);
  }
}

.table-row {
  height: 56px;
  border-radius: 4px;
  transition: transform 0.2s;
  content-visibility: auto;
  contain-intrinsic-size: 56px;
}
.table-row:focus, .table-row:focus:hover {
  background-color: var(--color-secondary3);
}
.table-row:hover {
  cursor: pointer;
  background-color: var(--color-secondary2);
}

.table-cell, .table-cell-edit {
  font-size: clamp(0.75rem, 0.9cqw, 1rem);
  padding: 8px 10px;
}
.table-cell, .table-cell-edit, .table-cell > span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-cell span.table-cell-type {
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
  user-select: none;
}

.transactions-table-cell-large {
  min-width: 20%;
}
.transactions-table-cell-medium {
  max-width: 120px;
}
.transactions-table-cell-small {
  max-width: 70px;
}

.table-cell-edit select:hover {
  cursor: pointer;
}

.table-cell-edit select option {
  background-color: var(--color-primary1);
  color: var(--color-negative);
}
.table-cell-edit select option:nth-last-child(-n + 3) {
  color: var(--color-positive);
}

.table-checkbox {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin: 4px 10px;
}

/* 
***************************
CHARTS
***************************
*/

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 6px;
}

/* 
***************************
NOTES
***************************
*/

.notes-color-menu {
  justify-content: flex-start;
  max-width: 188px;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--color-secondary2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.notes-color-menu p:not(.element-paragraph-title) {
  font-size: clamp(0.75rem, 0.9cqw, 1rem);
}

.notes-color-menu button:not(#toggle-track) {
  position: relative;
  border: 1px solid var(--outline-color3);
  width: 24px;
  height: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}
.notes-color-menu button:not(#toggle-track):hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.notes-color-menu button::before:not(#toggle-track) {
  position: absolute;
  content: "";
  inset: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.05;
}

.tiptap.ProseMirror, .tiptap.ProseMirror.ProseMirror-focused {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.note-title-container .tiptap.ProseMirror {
  word-wrap: unset;
}
.note-title-container .tiptap.ProseMirror p {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.note-title-container .tiptap.ProseMirror p span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tiptap.ProseMirror p {
  margin: 0.5rem 0;
}

.note-content-container .tiptap.ProseMirror ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;
    line-height: 2em;
  }
}

.note-content-container .tiptap.ProseMirror ul:not([data-type="taskList"]) {
  li {
    flex-wrap: wrap;
    column-gap: 0.5em;

    > ul {
      flex-basis: 100%;
      padding-left: 1em;
      max-width: 100%;
    }

    > p {
      flex: 1 1 auto;
      margin: 0.25em 0;
      max-width: calc(100% - 1em);
    }
  }
}

.note-content-container .tiptap.ProseMirror ul:not([data-type="taskList"]) > li::before {
  content: "•";
  font-size: 1.2em;
  line-height: inherit;
  margin: 0.25em 0;
  position: relative;
}

.note-content-container .tiptap.ProseMirror ul[data-type="taskList"] {
  li {
    > label {
      display: flex;
      align-items: center;
      height: 2em;
      flex-shrink: 0;
      margin: 0.1em 0.5rem 0 0;
      pointer-events: none;
    }

    > label input {
      margin: 0;
      height: 1em;
      width: 1em;
      pointer-events: auto;
    }

    > div {
      max-width: calc(100% - 1.1em);
      line-height: inherit;
    }
  }

  li p {
    line-height: inherit;
    margin: 0.1em 0;
  }
}

.note-content-container .tiptap.ProseMirror ul[data-type="taskList"] > li[data-checked="true"] > div > p {
  text-decoration: line-through;
  opacity: 0.5;
}

/* 
***************************
TIMERS
***************************
*/

.timers-list {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-secondary1);
  overflow: hidden;
}

.timers-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  height: 280px;
  width: 100%;
  gap: 20px;
  padding: 20px 20px 17px 20px;
  overflow-x: auto;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0));
}

.timer-container {
  justify-content: flex-start;
  flex-shrink: 0;
  height: 240px;
  min-width: 314px;
  max-width: calc((100% - 60px) / 4);
  width: 100%;
  gap: 10px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-secondary2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

.no-timers-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 20px;
  width: 100%;
  font-weight: bold;
}

/* 
***************************
ANIMATIONS AND CLASSES
***************************
*/

.opacity-breathing {
  animation: breathing 2s infinite;
}

@keyframes breathing {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
  }

.in-editmode {
  animation: highlight 2s infinite;
}

@keyframes highlight {
  0% { outline: 1px solid var(--color-highlight1); }
  50% { outline: 1px solid rgba(255, 70, 70, 0.5); }
  100% { outline: 1px solid var(--color-highlight1); }
}

@keyframes slideLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-150%); }
}

@keyframes fade-out {
    to { opacity: 0; }
  }
@keyframes fade-in {
  from { opacity: 0; }
}