*, *::before, *::after {
  box-sizing: border-box;
}

* img {
  user-select: none;
  pointer-events: none;
  filter: brightness(0) invert(0.9);
}

*:focus-visible {
  outline: 1px solid rgba(255, 70, 70, 1);
}

h1, h2, h3 {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
  user-select: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

html {
  background-color: #0f0f0f;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f6f6f6;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: transparent;
  border-radius: 10px;
}
:hover::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
  margin: 4px 0;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  cursor: pointer;
}

::selection {
  background-color: rgba(255, 70, 70, 0.75);
}

.primary-button {
  border: none;
  border-radius: 6px;
  background-color: #222;
  color: #f6f6f6;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
  user-select: none;
}
.primary-button.disabled:hover {
  background-color: #222;
}
.primary-button:not(.disabled):hover {
  cursor: pointer;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.transparent-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.transparent-button:hover {
  cursor: pointer;
}

.transparent-button-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.transparent-button-highlight:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.2);
}

.horizontal-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: 2px solid rgb(180, 180, 180);
  background-color: transparent;
  color: black;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: clamp(0.75rem, 0.9cqw, 1rem);
}
.primary-input::-ms-reveal {
  display: none;
}

.primary-input:focus {
  outline-color: rgba(255, 70, 70, 1);
}

.transparent-input {
  width: 100%;
  height: 100%;
  padding: 0 4px;
  border: none;
  background-color: transparent;
  color: #f6f6f6;
}

.modal-default {
  position: absolute;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  outline: 1px solid #333;
  border: none;
  border-radius: 8px;
  background-color: #181818;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.modal-default .primary-button {
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  text-align: left;
  background-color: transparent;
  box-shadow: none;
}
.modal-default button.disabled:hover {
  background-color: transparent;
}
.modal-default button:not(.disabled):hover {
  box-shadow: none;
  background-color: #333;
}

.primary-toolbar {
  flex-shrink: 0;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  gap: 12px;
  padding: 8px;
  border-bottom: 1px solid #333;
  user-select: none;
}

.primary-toolbar button {
  flex-shrink: 0;
  max-height: 31px;
}

.element-wrapper-for-title {
  flex-shrink: 0;
  height: 39px;
  justify-content: space-between;
  gap: 6px;
  user-select: none;
}

.element-wrapper-for-title > * {
  height: 100%;
}

.element-paragraph-title {
  display: flex;
  align-items: center;
  margin: 0;
  max-height: 8px;
  font-size: clamp(0.55rem, 0.75cqw, 0.7rem);
  user-select: none;
  font-weight: normal;
}

.img-small {
  height: 16px;
  width: 16px;
}

.img-medium {
  height: 24px;
  width: 24px;
}

.img-large {
  height: 32px;
  width: 32px;
}

.disabled {
  opacity: 0.5;
  outline: none;
}
.disabled:hover {
  cursor: not-allowed;
  transform: none;
  background-color: transparent;
}

.timer-container.hovered-over, .note-container.hovered-over, .notes-tab-outer-container.hovered-over {
  opacity: 0.5;
  outline: 1px solid rgba(255, 70, 70, 1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
}

.drag-handle {
  position: absolute;
  z-index: 10;
  cursor: grab;
  width: 24px;
  height: 24px;
  background: transparent;
  outline: none;
  border: none;
}
.drag-handle.disabled {
  cursor: not-allowed;
  box-shadow: none;
}
.drag-handle:active {
  cursor: grabbing;
}

.timer-container .drag-handle {
  top: 8px;
  right: 8px;
}

.note-container .drag-handle {
  top: 20px;
  right: 8px;
}

.notes-tab-outer-container .drag-handle {
  right: 4px;
  height: 23px;
}

/* 
***************************
AUTHENTICATION VIEW & FORMS
***************************
*/

.form-outer-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  background-color: rgb(200, 200, 200);
  border-radius: 12px;
  padding: 40px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.form-bg {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 24px;
  border-radius: 8px;
  padding: 32px;
}

.form-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  gap: 10px;
  padding-top: 6px;
}

.form-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  padding: 0;
  gap: 10px;
}

.form-input-spacer {
  min-width: 42px;
  width: 42px;
  min-height: 42px;
  height: 42px;
  pointer-events: none;
}

.form-p {
  font-weight: 600;
  user-select: none;
  margin: 0;
}

.form-button {
  color: rgba(255, 70, 70, 1);
  font-weight: 600;
}

.form-input-container .form-button {
  min-width: 42px;
  width: 42px;
  min-height: 42px;
  height: 42px;
  padding: 6px;
  border-radius: 50%;
}

.form-input-container .form-button img {
  filter: brightness(0);
}

.form-input-container .form-button:hover {
  background-color: rgba(165, 165, 165, 0.9);
}

.form-button img {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.form-primary-button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  width: 100%;
  max-height: 42px;
  height: 100%;
  margin-top: auto;
  padding: 10px 8px;
  text-align: left;
  font-weight: 600;
}
.form-primary-button:not(.disabled):hover {
  background-color: rgba(255, 70, 70, 1);
}

.form-primary-button img {
  max-width: 18px;
  max-height: 18px;
  transform: rotateZ(-90deg);
  filter: brightness(0) invert(0.9);
  transition: transform 0.2s;
}
.form-primary-button img.moveRight {
  transform: translateX(4px) rotateZ(-90deg);
}

/* 
***************************
TRANSACTIONS TABLE
***************************
*/

.table-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.table-row {
  height: 56px;
  border-radius: 4px;
  transition: transform 0.2s;
}
.table-row:focus, .table-row:focus:hover {
  background-color: #333;
}
.table-row:hover {
  cursor: pointer;
  background-color: #222;
}

.table-header {
  justify-content: space-between;
  padding: 0 10px;
  text-align: left;
  font-weight: bold;
  user-select: none;
  border-left: 1px solid #333;
  color: #f6f6f6;
}

.table-cell, .table-cell-edit {
  font-size: clamp(0.75rem, 0.9cqw, 1rem);
  padding: 8px 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-cell {
  pointer-events: none;
}

.transactions-table-cell-large {
  min-width: 20%;
}
.transactions-table-cell-medium {
  max-width: 120px;
}
.transactions-table-cell-small {
  max-width: 70px;
}

.table-cell span {
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
  user-select: none;
}

.table-cell-edit select:hover {
  cursor: pointer;
}

.table-cell-edit select option {
  background-color: #0f0f0f;
  color: #c34646;
}
.table-cell-edit select option:nth-last-child(-n + 3) {
  color: #aaffaa;
}

.table-checkbox {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin: 4px 10px;
  accent-color: rgb(255, 70, 70);
  transition: transform 200ms;
}
.table-checkbox:not(.disabled):hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* 
***************************
CHARTS
***************************
*/

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 6px;
}

/* 
***************************
NOTES
***************************
*/

.notes-color-menu {
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  max-width: 188px;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #222;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.notes-color-menu p:not(.element-paragraph-title) {
  font-size: clamp(0.75rem, 0.9cqw, 1rem);
}

.notes-color-menu button:not(.toggle-track) {
  position: relative;
  border: 1px solid #555;
  width: 24px;
  height: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}
.notes-color-menu button:not(.toggle-track):hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.notes-color-menu button::before:not(.toggle-track) {
  position: absolute;
  content: "";
  inset: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.05;
}

.tiptap.ProseMirror, .tiptap.ProseMirror.ProseMirror-focused {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.note-title-container .tiptap.ProseMirror {
  word-wrap: unset;
}
.note-title-container .tiptap.ProseMirror p {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.note-title-container .tiptap.ProseMirror p span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tiptap.ProseMirror p {
  margin: 0.5rem 0;
}

/* 
***************************
TIMERS
***************************
*/

.timers-list {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #181818;
  overflow: hidden;
}

.timers-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  height: 280px;
  width: 100%;
  gap: 20px;
  padding: 20px 20px 17px 20px;
  overflow-x: auto;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0));
}

.timer-container {
  justify-content: flex-start;
  flex-shrink: 0;
  height: 240px;
  min-width: 314px;
  max-width: calc((100% - 60px) / 4);
  width: 100%;
  gap: 10px;
  padding: 8px;
  outline: none;
  border-radius: 8px;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

.no-timers-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 20px;
  width: 100%;
  font-weight: bold;
}

/* 
***************************
ANIMATIONS AND CLASSES
***************************
*/

.opacity-breathing {
  animation: breathing 2s infinite;
}

@keyframes breathing {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
  }

.in-editmode {
  animation: highlight 2s infinite;
}

@keyframes highlight {
  0% { outline: 1px solid rgba(255, 70, 70, 1); }
  50% { outline: 1px solid rgba(255, 70, 70, 0.5); }
  100% { outline: 1px solid rgba(255, 70, 70, 1); }
}

@keyframes slideLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-150%); }
}

@keyframes fade-out {
    to { opacity: 0; }
  }
@keyframes fade-in {
  from { opacity: 0; }
}